<!-- system.html -->
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-12">
                <h2>System: {{ os.hostname }} running {{ os.type }} {{ os.release }}</h2>
                <p class="lead">Online since: {{ os.uptime }}</p>
                <progressbar class="progress-striped active" value="memory" type="{{memoryClass}}">Memory used: {{memory}}%</progressbar>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr/>
                <h2>Processes</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <p ng-repeat="process in processes">
                    {{ process[0] }}
                    <label ng-repeat="pid in process[1]" for="{{pid}}">
                        <input name="processid" id="{{pid}}" type="radio" ng-model="selected.pid" ng-value="pid" ng-change="newRadio()">{{ pid }} <br/>
                    </label>
                </p>
                <!--<form>-->
                    <!--<div ng-repeat="process in processes">-->
                        <!--<span>{{ process[0] }}</span>-->
                        <!--<div class="radio" ng-repeat="pid in process[1]">-->
                            <!--<input type="radio" name="process" value="{{ pid }}" ng-model="radio">-->
                            <!--Process {{ pid }}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</form>-->
            </div>
            <div class="col-md-10">
                <svg id="memoryChart"></svg>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr/>
                <h2>CPUs</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3" ng-repeat="cpu in os.cpus">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        [{{ $index+1 }}] {{ cpu.model }}
                    </div>
                    <div class="panel-body">
                        <nvd3-pie-chart data="cpu.times" id="cpu{{ $index }}" width="250" height="250" x="pie.xfun()" y="pie.yfun()" color="pie.color()" showLabels="true" tooltips="true">
                            <svg></svg>
                        </nvd3-pie-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
