<!-- system.html -->
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-12">
                <h2>System: {{ os.hostname }} running {{ os.type }} {{ os.release }}, {{ os.arch }}</h2>
                <p class="lead">Online since: {{ os.uptime }}</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{ os.memory }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ os.memory }}%;">
                        Memory used: {{ os.memory }}%
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr/>
                <h2>Memory</h2>
            </div>
        </div>

        <div class="row">
            <nvd3-line-chart data="memory" id="memoryChart" forcex="[]" forcey="[]" useInteractiveGuideLine="true" width="1000" height="250" showXAxis="true" showYAxis="true" x="line.xfun()" y="line.yfun()" xAxisTickFormat="line.xticks()" yAxisTickFormat="line.yticks()">
                <svg></svg>
            </nvd3-line-chart>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr/>
                <h2>CPUs</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3" ng-repeat="cpu in os.cpus">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        [{{ $index+1 }}] {{ cpu.model }}
                    </div>
                    <div class="panel-body">
                        <nvd3-pie-chart data="cpu.times" id="cpu{{ $index }}" width="250" height="250" x="pie.xfun()" y="pie.yfun()" color="pie.color()" showLabels="true" tooltips="true">
                            <svg></svg>
                        </nvd3-pie-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
